{% extends 'base.html.twig' %} 

{% block title %}Hello HomeController!{% endblock %} 

{% block body %}
<a class="btn btn-primary" href="/finance" role="button">Finance</a>
<a class="btn btn-primary" href="/lucky/number" role="button">Lucky Number</a>
{% endblock %}
